<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>
        Reservierungsbuch
    </title>

    <style>
        body {
            background-color: #71b1c7;
        }

        .table-wrapper {
            margin-top: 100px;
        }

        h1 {
            text-align: left;
            text-decoration: underline;
        }

        th.ueberschrift {
            font-style: italic;
            font-size: larger;
            letter-spacing: 2px;
            text-decoration: underline;
        }

        td.first-row {
            font-size: large;
            letter-spacing: 2px;
            text-align: center;
            border: 1px solid black;
            border-collapse: collapse;
        }

        td.customer {
            text-align: center;
        }

        div.form-wrapper {
            font-size: large;
            margin-bottom: 20px;
            margin-top: 50px;
        }

        form.addRes {
            display: none;
        }
        
        .formButton {
            box-shadow: 0px 0px 0px 2px #9fb4f2;
            background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
            background-color: #7892c2;
            border-radius: 10px;
            border: 1px solid #4e6096;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 19px;
            padding: 6px 32px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #283966;
        }

        .formButton:hover {
            background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
            background-color: #476e9e;
        }

        .formButton:active {
            position: relative;
            top: 1px;
        }
    </style>

</head>

<body>

    <script>
        $(function () {

            $(".formButton").click(function () {
                $(".addRes").toggle();
            });
        });
    </script>
    <h1>
        City Braustüb'l
    </h1>

    
    <div class="buttonWrapper">
        <button type="button" class="formButton">Hinzufügen</button>
    </div>

    <div class="form-wrapper">
        
        <div class="errorField">
            {{#if error}}
            <div>Error!</div>
            {{/if}}
        </div>
        <form class="addRes" method="POST" action="/check">
            Datum(Tag)<br>
            <input type="text" name="date" /><br>
            Zeit<br>
            <input type="text" name="time" /><br>
            Name<br>
            <input type="text" name="name" /><br>
            Pax<br>
            <input type="number" name="pax" width="20" /><br>
            Tisch<br>
            <input type="number" name="tisch" /><br>
            Beschreibung<br>
            <input type="text" name="desc" /><br>

            <input type="submit" />
        </form>
    </div>


    <div class="table-wrapper">
        <table style="width:60%" class="tg">
            <tr>
                <th class="ueberschrift" colspan="6">Reservierungen</th>
            </tr>
            <tr>
                <td class="first-row" width="50">Zeit</td>
                <td class="first-row" width="160">Name</td>
                <td class="first-row">PAX</td>
                <td class="first-row">Tisch</td>
                <td class="first-row" width="160">Beschreibung</td>
            </tr>
            {{#each allres}}
            <tr>
                <td class="customer">{{time}}</td>
                <td class="customer">{{name}}</td>
                {{#unless pax}}{{else}}
                <td class="customer">{{pax}}
                </td>{{/unless}}{{#unless tisch}}{{else}}
                <td class="customer">{{tisch}}</td>{{/unless}}{{#unless desc}}{{else}}
                <td class="customer">{{desc}}</td>{{/unless}}

            </tr>
            {{/each}}

        </table>
    </div>
</body>

</html>