<!DOCTYPE html>
<html lang="en">

<head>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>
        Reservierungsbuch
    </title>

    <style>
        html {
            margin: 0px;
            height: 100%;
            width: 100%;
        }

        body {
            margin: 0px;
            min-height: 100%;
            width: 100%;
            background-color: #00818a;
        }



        .table-wrapper {
            margin-top: 100px;
        }

        th.ueberschrift {
            font-style: italic;
            font-size: larger;

            letter-spacing: 2px;
            text-decoration: underline;
        }

        td.first-row {
            font-size: large;
            letter-spacing: 2px;
            text-align: center;
            text-decoration: underline;
            border-collapse: collapse;
            background: #d7c79e;
            padding: 2px;
        }

        td.customer {
            text-align: center;
        }

        div.form-wrapper {
            font-size: large;
            margin-bottom: 20px;
            margin-top: 50px;
        }

        form.addRes {
            display: none;
            font-size: 20px;
        }

        * {
            box-sizing: border-box;
        }

        #optionButton1 {
            align-self: center;
            width: 80%;
            box-shadow: 0px 0px 0px 2px #9fb4f2;
            background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
            background-color: #7892c2;
            border-radius: 10px;
            border: 1px solid #4e6096;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 10px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #283966;
        }

        #optionButton2 {
            align-self: center;
            width: 80%;
            box-shadow: 0px 0px 0px 2px #9fb4f2;
            background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
            background-color: #7892c2;
            border-radius: 10px;
            border: 1px solid #4e6096;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 10px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #283966;
        }

        #optionButton1:hover,
        #optionButton2:hover {
            background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
            background-color: #476e9e;
        }

        #optionButton1:active,
        #optionButton2:active {
            position: relative;
            top: 1px;
        }

        div.middle {
            padding: 10px;
            border-style: solid;
            border: 2xp solid black;
            overflow: hidden;
        }

        div.left {
            display: inline-block;
            width: 50%;
            overflow: hidden;
            float: left;
        }

        div.right {
            display: inline-block;
            width: 50%;
            float: right;
        }

        div.btn1 {
            padding: 2px;
        }

        div.btn2 {
            padding: 2px;
        }

        .head {
            color: #d4e9eb;
            width: 100vw;
            text-align: center;
            margin-bottom: 50px;
            padding-top: 0px;
            border-top: 0px;
            background-color: #293462;
            background: linear-gradient(to bottom, #293462 5%, #4a578b 100%);
        }
        .ahead{
            text-decoration: none;
            color:#d7c79e;
        }
        .tg tr:nth-child(odd) {
            width: 100%;
            margin-top: 10px;
            background: #9fb4f2;
        }

        .tg {
            width: 100%;
            margin-top: 10px;
        }

        .table {
            background: #d7c79e;
            padding: 10px;
            margin-top: 10px;
        }

        .timeField {
            width: 15%;
            font-size: large;
        }
        .lookUp{
            display: none;
        }
    </style>
    <script>
        $(function () {

            $(".formButton").click(function () {
                $(".addRes").toggle();
            });
        });
        $(function () {

            $(".inspectDay").click(function () {
                $(".lookUp").toggle();
            });
        });
        $(".head").click(function(){

        })
    </script>
</head>

<body>



    <div class="head">
        <h1><a class="ahead" href="/">
            City Braustüb'l
        </a></h1>
    </div>
    <div class="middle">
        <div class="left">
            <div class="btn1">
                <button type="button" id="optionButton1" class="formButton">Hinzufügen</button></div><br>
            <div class="btn2">
                <button type="button" id="optionButton2" class="inspectDay">Tag Anschauen</button></div>
        </div>
        <div class="right">
            <div class="errorField">
                {{#if error}}
                <div>Error!</div>
                {{/if}}
            </div>

            <form class="lookUp" method="POST" accept="/check">
            Zeit<br>
                <input type="date" class="dateField" name="date"  required>
                <br><input type="submit" /><br>
            </form>


            <form class="addRes" method="POST" action="/check">
                Zeit<br>
                <input type="time" class="timeField" name="time" min="11:00" max="23:30" step="900" required>
                <br>
                <div class="test">
                Name</div><br>
                <input type="text" class="nameField" name="name" /><br>
                Pax<br>
                <input type="number" class="paxField" name="pax" width="20" /><br>
                Tisch<br>
                <input type="number" class="tischField" name="tisch" /><br>
                Beschreibung<br>
                <input type="text" name="desc" /><br>

                <input type="submit" />
            </form>
        </div>
    </div>


    <div class="table">
        <table class="tg">
            <tr>
                <th class="ueberschrift" style="padding:10px" colspan="6">Reservierungen</th>
            </tr>
            <tr>
                <td class="first-row" width="50">Zeit</td>
                <td class="first-row" width="160">Name</td>
                <td class="first-row">PAX</td>
                <td class="first-row">Tisch</td>
                <td class="first-row" width="160">Beschreibung</td>
            </tr>
            <tr style="background: #d7c79e;">
                <td><br></td>
            </tr>
            <tr style="background: #d7c79e;">
                <td><br></td>
            </tr>
            {{#each allres}}
            <tr>
                <td class="customer">{{time}}</td>
                <td class="customer">{{name}}</td>
                {{#unless pax}}{{else}}
                <td class="customer">{{pax}}
                </td>{{/unless}}{{#unless tisch}}{{else}}
                <td class="customer">{{tisch}}</td>{{/unless}}{{#unless desc}}{{else}}
                <td class="customer">{{desc}}</td>{{/unless}}

            </tr>
            {{/each}}

        </table>
    </div>
</body>

</html>